.nav-item a {
  color: #000;
}

.bgc-img {
  width: 100%;
  margin: 0 8px 76.54px 34.6px;
}

.work {
  position: relative;
  margin: 0 auto;
}

.work-text {
  position: absolute;
  margin-top: -35rem;
}

.work-heading {
  text-align: center;
  margin-left: -19rem;
}

.heading-1 {
  margin-left: -2rem;
}

.work-p {
  width: 100%;
  max-width: 40%;
  margin-left: 33rem;
  margin: 0 auto;
} 

li {
  list-style: none;
}

.social-media-icons {
  position: absolute;
  margin-top: -23rem;
  margin-left: 24rem;
  
}